#!/bin/bash

export SERVICE_NAME="jenkins-custom"
export SERVICE_FILE_PATH="/etc/systemd/system/"
export SERVICE_USER="jenkins_cs"
export TMP_DL_DIR="/tmp/jenkins_custom/"
export JENKINS_WAR="jenkins_custom.war"
export JENKINS_DL_URL="https://get.jenkins.io/war-stable/latest/jenkins.war"
export JENKINS_DIR="/opt/jenkins/"
